body {
            background-color:rgb(11, 20, 28)

        }
        header {
            position: sticky; top: 0; z-index: 100;
            background-color:rgb(11, 20, 28) ;
        }
        
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 1px;
        }

       nav ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        nav a {
            text-decoration: none;
            margin-left: 40px;
            font-size: 24px;
            color: aqua;
            font-weight: bold;
        }
        .top {
            color: white;
            font-size: 24px;
            font-weight: bold;
        }
        footer {
            /*background-color:aqua ;*/
            text-align: center;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color:aqua ;
            margin-bottom: auto;
            
        }
        .head {
            text-align: center;
            color:white;
        }
        .i {
            font-family:'Times New Roman', Times, serif;
            margin-top: 50px;
        }
        .a {
            color: aqua;
            margin-top: -25px;
        }
  .cert {
    color: white;
  }
  .certbox {
    height: 450px;
    width: 350px;
    background-color: rgb(11, 20, 28) ;
    border-radius: 20px;
    margin-left: 100px;
  }
  .certbox:hover {
    transform: scale(1.05);
    transition: transform 0.4s;
  }
  /* .cert-1 {
    height: 30px;
    width: 97px;
    background-color: white;
    margin-left: 20px;
    border-radius: 30px;
    font-size: 13px;
    color:rgb(11, 20, 28);
  }
  .cert-2 {
    height: 30px;
    width: 110px;
    background-color: aqua;
    margin-left: 100px;
    border-radius: 30px; */

  
  .cert0 {
    display: flex;
    
  }
  .cert3 {
    font-family: 'Poppins'sans-serif;
    color: white;
    text-align: center;
    margin-left: 5px;
    
  }
  .cert4 {
    height: 203px;
    width: 330px;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 25px;
  }
  .certboxx {
    height: 1030px;
    width: 1400px;
    background-color: aqua;
    border-radius: 30px;
    margin-left: 50px;
  }
  /* .hrr {
    height: 5px;
    width: 5px;
    
    background-color: rgb(11, 20, 28);
  } */
  .co {
    color: aqua;
    text-align: center;
  }
  .cert-11 {
    margin-left: 5px;
    margin-top: 7px;
    font-weight: bold;
  }
  
  .certbox2 {
    height: 450px;
    width: 350px;
    background-color:rgb(11, 20, 28) ;
    border-radius: 20px;
    margin-left: 70px;
  }
  .cert02 {
    display: flex;
  }
  .co2 {
    font-family: 'Poppins'sans-serif;
    color: aqua;
    text-align: center;
  }
  .cert42 {
    height: 203px;
    width: 330px;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 30px;
  }
  .cert32 {
    font-family: 'Poppins'sans-serif;
    color: white;
    text-align: center;
    margin-left: 5px;
  }
  .certbox2:hover {
    transform: scale(1.05);
    transition: transform 0.4s;
  }
  .certbox3 {
    height: 450px;
    width: 350px;
    background-color:rgb(11, 20, 28) ;
    border-radius: 20px;
    margin-left: 70px;
  }
  .certbox3:hover {
    transform: scale(1.05);
    transition: transform 0.4s;
  }
  .cert03 {
    display: flex;
  }
  .cert33 {
    font-family: 'Poppins'sans-serif;
    color: white;
    text-align: center;
    margin-left: 5px;
  }
  .cert43 {
    height: 203px;
    width: 330px;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 25px;
  }
  .co3 {
    font-family: 'Poppins'sans-serif;
    color: aqua;
    text-align: center;
  }
  .cert002 {
    display: flex;
  } 
  .certbox4 {
     height: 450px;
    width: 350px;
    background-color: rgb(11, 20, 28) ;
    border-radius: 20px;
    margin-left: 100px;
  }
  .cert04 {
    display: flex;
  }
  .cert34 {
    font-family: 'Poppins'sans-serif;
    color: white;
    text-align: center;
    margin-left: 5px;
  }
  .co4 {
    font-family: 'Poppins'sans-serif;
    color: aqua;
    text-align: center;
  }
  .cert44 {
    height: 203px;
    width: 330px;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .certbox4:hover {
    transform: scale(1.05);
    transition: transform 0.4s;
  }
  .certbox5 {
    height: 450px;
    width: 350px;
    background-color:rgb(11, 20, 28) ;
    border-radius: 20px;
    margin-left: 70px;
  }
  .cert35 {
    font-family: 'Poppins'sans-serif;
    color: white;
    text-align: center;
    margin-left: 5px;
  }
  .cert05 {
    display: flex;
  }
  .co5 {
    font-family: 'Poppins'sans-serif;
    color: aqua;
    text-align: center;
  }
  .cert45 {
    height: 203px;
    width: 330px;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .certbox6 {
    height: 450px;
    width: 350px;
    background-color:rgb(11, 20, 28) ;
    border-radius: 20px;
    margin-left: 70px;
  }
  .cert36 {font-family: 'Poppins'sans-serif;
    color: white;
    text-align: center;
    margin-left: 5px;
  }
  .cert05 {
    display: flex;
  }
  .co6 {font-family: 'Poppins'sans-serif;
    color: aqua;
    text-align: center;
  }
  .cert46 {
    height: 203px;
    width: 330px;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .certbox6:hover {
    transform: scale(1.05);
    transition: transform 0.4s;
  }
  .neet {
             color:rgb(24, 36, 43);
            width: 150px;
            height: 50px;
            background-color: aqua;
            border-radius: 30px;
            font-size: 25px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight:bold;
            margin-left: 1250px;
            margin-top: 55px;
            cursor: pointer;

        }
        .certbox5:hover {
    transform: scale(1.05);
    transition: transform 0.4s;
  }
  


  

